* {
    box-sizing: border-box;
    margin: auto;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    -webkit-font-smoothing: antialiased;
    text-shadow: 0 0 1px rgba(0,0,0,0.3);
    font-weight: lighter;
    background-image: url("http://wallpoper.com/images/00/44/66/90/aero-green-and-dark-blue_00446690.jpg");
  }
  
  .form-group {
    text-align: center;
    background-color:rgba(0,0,0,0.5);
    border-radius: 10px;
    height: 60%;
    padding: 2%;
    margin-top: 2%;
  }

  .current-weather {
    background-color:rgba(0,0,0,0.5);
    border-radius: 10px;
    box-shadow: 0px 3px 1px rgba(0,0,0,0.2);
    padding: 2%;
    margin-bottom: 1%;
  }

  .weather-image {
      height: 55px;
  }

  .globe {
      height: 46px;
  }
  
  ul {
    list-style-image: url('tiny.png');
}

.delete-comments {
    float: right;
}

.form-control {
    width: 50%;
}

